// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: sans-serif;
  color: blue;
  text-align: center;
}

.navbar {
  background-color: silver;
}

.wrapper {
  height: 600px;
  margin: 0 auto;
  min-width: 1000px;
}
.site-footer {
  background-color: silver;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  overflow: visible;
}

.carousel-caption {
  color: black;
}
