// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal {
  width: 50%;
}

.form-group {
  width: 100%;
}

.checkbox {
  padding-left: 20px;
}
